:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --first-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --footer-adress: rgba(255, 255, 255, 0.6);
  --social-links: #afb1b8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  padding: 0px;
  border: none;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  font-family: "roboto", sans-serif;
  color: #212121;
}

.link {
  text-decoration: none;
}

/* ------------GENERAL SELECTION------------- */

.second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.social-list {
  display: flex;
  justify-content: center;
}
.social-item {
  width: 44px;
  height: 44px;
}

.social-icon {
  fill: currentColor;
}

/* ------------HEADER------------- */

.header {
  background-color: var(--main-title-color);
  padding-top: 25px;
  padding-bottom: 25px;
  display: block;
  border-bottom-style: solid;
  border-color: #ececec;
  border-width: 1px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-mail-item {
  display: flex;
  align-items: center;
}

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  display: inline-block;
  color: var(--first-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

.header-mail,
.header-mobile {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  margin-right: 10px;
}

.header-item {
  margin-right: 50px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-logo {
  margin-right: 93px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
}

.header-logo-web {
  color: var(--accent-color);
}

.header-logo-studio {
  color: black;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -33px;
}

.header-mobile-item {
  margin-left: 30px;
}

/* ------------HERO------------- */

.hero {
  background-color: var(--background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Hero-Img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-title-color);
  background-color: var(--accent-color);
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* ------------FEATURES AND WORKS------------- */

.features {
  background-color: var(--main-title-color);
  padding-bottom: 0px;
}

.features-container {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-icon-list {
  display: flex;
  margin-right: -30px;
}

.features-list-item {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.features-list {
  display: flex;
  justify-content: center;
}

.features-items {
  max-width: 270px;
}

.features-items:not(:last-child) {
  margin-right: 30px;
}

.features .title-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-bottom: 10px;
}

.features .text-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

/* ------------OUR WORK------------- */
.work-title {
  padding-bottom: 50px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  justify-content: center;
  margin-right: -30px;
  margin-bottom: -30px;
}

.work-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  justify-content: center;
}

.work-img-title {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding: 27px 0;
}

/* ------------OUR TEAM------------- */

.team {
  background-color: #f5f4fa;
}
.team-title {
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-item {
  margin-right: 30px;
  width: calc(100% / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item:last-child {
  margin-right: 0px;
}

.description {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #ffffff;
}

.name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.job-title {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 16px;
}

.social-list + .social-list {
  padding-left: 10px;
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--social-links);
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.social-item + .social-item {
  margin-left: 10px;
}

/* ------------CLIENTS------------- */

.clients-title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--social-links);
  border: 1px solid var(--social-links);
  border-radius: 6px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* ------------FOOTER------------- */

.footer {
  background: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-left {
  margin-right: 70px;
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  display: block;
  margin-bottom: 20px;
}

.adress {
  margin-bottom: 9px;
}

.mail {
  margin-bottom: 9px;
}

.footer-logo-web {
  color: var(--accent-color);
}

.footer-logo-studio {
  color: var(--main-title-color);
}

.footer-contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.footer-mail,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--footer-adress);
}

.footer-blocks {
  display: flex;
}

.footer-join {
  margin-bottom: 20px;
  color: var(--main-title-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 10%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: currentColor;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

/* ------------PORTFOLIO------------- */

.portfolio-container {
  margin-left: auto;
  margin-right: auto;
}

.project-nav {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}

.project-btn-item:not(:last-child) {
  margin-right: 8px;
}

.project-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--second-title-color);
  padding: 6px 22px;
  cursor: pointer;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-btn:hover,
.project-btn:focus {
  color: var(--main-title-color);
  background-color: var(--accent-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.project-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
}

.project-item:hover .project-text {
  transform: translateY(0);
}

.portfolio-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.project-item-name {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
  margin-bottom: 4px;
}

.project-item-text {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.border-img {
  display: block;
  width: 370px;
  height: 110px;
  border-style: solid;
  border-top: none;
  border-width: 1px;
  border-color: #eeeeee;
}

.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-item-wrap {
  position: relative;
  overflow: hidden;
}

.project-text {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.55;
  color: #ffffff;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms;
  overflow: auto;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: none;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 250ms, visibility 250ms,
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-close {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 7px;
  right: 8px;
  cursor: pointer;
  display: block;
  align-items: center;
  justify-content: center;
}
